.feedback-wrapper {
  width: var(--card-w);
  margin: 40px auto;
  background-color: #fff;
  padding: 20px;
  border-radius: 8px;
  border-inline: 4px solid #004aad;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  box-sizing: border-box;
}

.feedback-wrapper h1 {
  font-size: 2rem;
  color: #004aad;
  margin-bottom: 10px;
  text-align: center;
}

.feedback-wrapper p {
  text-align: center;
  margin-bottom: 20px;
  color: #333;
}

.feedback-form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.feedback-form label {
  font-weight: 600;
  color: #333;
}

.feedback-form input,
.feedback-form select,
.feedback-form textarea {
  width: 100%;
  padding: 10px;
  border-radius: 6px;
  border: 1px solid #ccc;
  font-size: 1rem;
}

.feedback-form button {
  padding: 12px;
  background-color: #004aad;
  color: white;
  border: none;
  border-radius: 6px;
  font-size: 1rem;
  cursor: pointer;
}

.feedback-form button:hover {
  background-color: #002f6c;
}